/*header-images*/
/*header-images*/
.header-left-image{
     height: 92px;
    margin-top: 18px;
    margin-bottom: -23px;
}
.header-center-image{
  width: 100%; 
  height: auto; 
  margin-top: 20px;
}
.header-right-image{
  height: 100px; 
  margin-top: 10px;
}
.razorpay-payment-button{
  display: none !important;
}
.h-55px{
  height: 55px !important; 
}
.h-80px{
  height: 80px !important; 
}
.h-70px{
  height: 70px !important; 
}
.bg-black{
  background-color: #313131 !important;
}
.pt-15px{
  padding-top: 15px !important;
}
.pb-15px{
  padding-bottom: 15px !important;
}
.blinking{
  animation:blinkingText 2s infinite;
}
.mt-50px{
  margin-top: 50px !important;
}
.mb-50px{
  margin-bottom: 50px !important;
}
@keyframes blinkingText{
  0%{   color: #e9bb00;  }
  49%{  color: #e9bb00; }
  50%{  color: #e9bb00; }
  99%{  color: #ed7f1a;  }
  100%{ color: #ed7f1a;  }
}
.fs-17px{
  font-size: 17px !important;
}
.mb-2r{
  margin-bottom: 2rem !important;
}
.navbar{
  padding: .5rem 1.5rem !important;
}
.fs-15px{
  font-size: 15px !important;
}
.mb-04r{
  margin-bottom: 0.4rem !important;
}
.mt-20px{
  margin-top: 20px;
}
.mb-20px{
  margin-bottom: 20px;
}
.br-10px{
  border-radius: 10px;
}
/*#formM .form-group{
  margin-bottom: 1.4rem !important;
}*/
.input-label {
    font-size: 16px;
    font-weight: 500;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #ed7f1a;
}
.navbar-light .navbar-nav .nav-link {
    color: #6d6d6e;
    padding-right: 0.8rem;
    padding-left: .8rem;
    /*padding-bottom: 1.5rem;*/

}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
  color: #ffffff !important
}
.procedure-circle{
  width: 130px !important; height: 130px !important; border-radius: 50% !important;
}
.uppercase{
  text-transform: uppercase !important;
}
.mt-16px{
  margin-top: 16px !important;
}
.ml-9px{
  margin-left: 9px !important;
}
.ml-25p{
  margin-left: 25% !important;
}
.ml-37p{
  margin-left: 37% !important;
}
.fs-14{
	font-size: 14px !important;
}
.fs-15{
	font-size: 15px !important;
}
input{
	height: 30px !important;
}
select{
	height: 30px !important;
	padding: 0px 5px 0px 5px !important;
}
.height-unset{
	height: unset !important;
}
.form-group {
    margin-bottom: 0.5rem;
}
/*nav*/
.bg-light-yellow {
    background-color: #efeaaf70 !important; 
    /*background-color: #eae27c70 !important;*/
}
.color-green{
	color: #3d7523 !important;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.header{
  z-index: 1;
  background-color: white;
}

/*enquiry form*/
.ptb-1rem{
	padding-top: 0rem !important; 
	padding-bottom: 0.2rem !important; 
}
.pb-1rem{
	padding-bottom:1rem !important;
}
.mt-10px{
	margin-top: 10px !important;
}
.pl-10px{
	padding-left: 10px !important;
}
.bg-color-green{
  background-color: rgb(55, 52, 53) !important;	
}
.bg-color-green1{
  background-color: rgb(40, 167, 69) !important; 
}
.w-100p{
	width: 100% !important;
}
.w-60p{
	width: 60% !important;
}
.w-40p{
	width: 40% !important;
}
.mb-0{
	margin-bottom: 0px !important;
}
.fw-700{
	font-weight: 700 !important;
}
.fs-24{
	font-size: 24px !important;
}
.fs-20{
	font-size: 20px !important;
}
.fs-13px{
	font-size: 13px;
}
.pt-0{
	padding-top: 0px !important;
}
/*common*/
.mb-10px{
	margin-bottom: 10px !important;
}
.mb-20px{
	margin-bottom: 20px !important;
}
.plr-15rem{
	padding-left: 1.5rem !important;
	padding-right: 1.5rem !important;
}
.bg-color-logogray {
    /*background-color: rgb(57, 52, 53) !important;*/
    background-color: #0f172e !important;
}

.bg-color-logoblue {
    background-color: #0f172e !important;
}
.text-logoblue {
    color: #ed7f1a !important;
}

.text-logoyellow {
    color: rgb(234, 191, 0) !important;
}

.plr-0px{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.plr-5px{
	padding-left: 5px !important;
	padding-right: 5px !important;
}
.btn-orange{
	background-color: #ff841b;
  	border-color: #ff841b;
}
.mt-5px{
	margin-top: 5px !important;
}
.mt-0px{
	margin-top: 0px !important;
}
.ml-0px{
	margin-left: 0px !important;
}
.ml-12px{
  margin-left: 12px !important;
}
.radio-label{
	margin-left: 22px;
  	margin-top: 1px;
}
.h-42px{
	height: 42px !important;
}
.h-200px{
	height: 200px !important;
}
.h-39px{
	height: 39px !important;
}
.pb-10px{
	padding-bottom: 10px !important;
}
.p-40px{
	padding: 40px !important;
}
.p-20px{
	padding: 20px !important;
}
.p-10px{
	padding: 10px !important;
}
.pt-5px{
	padding-top: 5px !important;
}
.mt-20px{
	margin-top: 20px !important;
}
.mt-10px{
	margin-top: 10px !important;
}
.mt-5px{
	margin-top: 5px !important;
}
.mt--6px{
	margin-top: -6px !important;
}
.mb-5px{
	margin-bottom: 5px !important;
}
.p-01rem{
	padding: 0 1rem !important;
}

.navbar{
  border-bottom: 4px solid #0f172e;
  /*background-image: url('../img/home_blue.png');
  background-repeat: no-repeat;
  background-position: center bottom;*/
}
.navbar-nav > li > a{padding-top: 10px !important;}
/*body*/
.bg-gray{
	background-color: #f1f1f1 !important;
}
.bg-white{
	background-color: #fff !important;
}
.bg-light-gray{
	background-color: #f3f3f3 !important;
}
.small-blue-circle{
	background-color: #1C3155 !important;
	border-radius: 100%;
}
.ptxb-0505{
	padding: 0px 5px 0px 5px !important;
}
.text-blue{
	color: #1c3155 !important;
}
.select-form {
    height: 24px !important;
}
.my-form-label {
    padding-top: calc(.375rem + 0px) !important;
    padding-bottom:  !important;
    margin-bottom: 0 !important;
    font-size: .9rem !important;
    line-height: 1.5 !important;
}
.dn{
	display: none;
}
.pt-7px{
	padding-top: 7px;
}
.pb-22px{
	padding-bottom: 22px !important;
}
.pt-22px{
	padding-top: 22px !important;
}
.btn-razorpay{ 
	background-color: #1c62c3 !important;
	border-color: #1c62c3 !important;
}
.btn-paytm{ 
	background-color: #00b9f5 !important;
	border-color: #00b9f5 !important;
}
.bg-color-yellow {
    background-color: rgb(234, 191, 0) !important;
}
.box-shadow{
	-webkit-box-shadow:0px 0px 5px 1px rgb(96, 96, 98);
	-moz-box-shadow:0px 0px 5px 1px rgb(96, 96, 98);
	box-shadow:0px 0px 5px 1px rgb(96, 96, 98);
}
.box-shadow-form{
    -webkit-box-shadow:0px 0px 5px 1px rgb(96, 96, 98);
    -moz-box-shadow:0px 0px 5px 1px rgb(96, 96, 98);
    box-shadow: 0px 0px 5px 1px rgb(96, 96, 98);
}
.border-top-blue{
	border-top: 2px solid #007eff;
}
.border-top-oy {
    border-top: 2px solid #ffb100;
}
.bradius-5px{
	border-radius: 5px;
}
.text-orange{
	color: #ed7f1a !important;
}
.td-none{
	text-decoration: none !important;
}
.mrl-0px{
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.bg-color-orange{
    /*background-color: #ff841b !important;*/
    background-color: #ed7f1a !important;
}
.foot-bottom{
	width: 100% !important;
	/*position: absolute !important;
	bottom: 0 !important;*/
}
.text-justify{
	text-align: justify !important;
}
.f-left{
	float: left !important;
}
.f-right{
	float: right !important;
}
.hr{
	width: 60px; 
	margin-top: 0px; 
	margin-bottom: 12px; 
	background-color: #0f172e;     
	border-top: 2px solid #0f172e;
}
.h-32px{
	height: 32px !important;
}

form > .bg-gray {
	font-weight: 700 !important;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}
.nav-item, .dropdown-item{
	font-weight: 700 !important;
}
.fs-700{
	font-weight: 700 !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
input[type=checkbox]{
    height: 16px !important;
}
.circle-num {
  align-items: center;
  border: 2px solid #fff;
  height: 2px;
  justify-content: center;
  max-width: 100%;
  padding: 2px 6px 2px 6px;
  border-radius: 99%;
  background: #293d54;
  color: #fff !important;
  font-size: 12px;
}

 h5{
    line-height: 2 !important;
}

.bttn{
  background-color: #ed7f1a !important;
}
.text-golden {
    color: #ed7f1a!important;
}

.bg-color-golden {
    background-color: #0f172e !important;
}
.bg-color-golden-light {
    background-color: #92abc5 !important;
}

 .modal-dialog.modal-800 {
    max-width: 900px !important;
    margin: 30px auto;
    align-items: center;
    /*justify-content: right;*/
}

  .justify {
   /* justify-content: center;*/
    text-align: justify !important;
    font-size: 14px !important;
}

.agree {
 text-align: center !important;
 margin: auto;
}

.disclaimer{
    height: 400px !important;
    overflow-y: auto !important;
}

.model_title {
 margin: auto;
 text-align: center !important;
  width: 100%;
  border: 3px;
  padding: 10px;
}